* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

#container {
  max-width: 1500px;
  width: 100%;
  margin: auto;
  min-height: 100vh;
  background-color: gray;
  display: flex;
  flex-direction: column;
}

header {
  background-color: rgb(62, 62, 225);
}
header nav {
  width: 100%;
  display: flex;
}
header nav div {
  width: 50%;
  position: relative;
}
header nav div img {
  height: 10rem;
  width: 100%;
  max-width: 30rem;
}
header nav div ul {
  list-style: none;
  position: absolute;
  right: 15%;
}
header nav div ul a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  font-size: 1.5rem;
}

hero {
  text-align: center;
  display: block;
  margin: 7rem;
  font-size: 3rem;
}

footer {
  background-color: lightblue;
  color: white;
}
footer div {
  display: flex;
  width: 100%;
  align-items: center;
}
footer div p {
  width: 40%;
  margin: 1rem auto 1rem 8%;
}
footer div ul {
  list-style: none;
  width: 50%;
  margin-right: 10%;
  display: flex;
  justify-content: flex-end;
}
footer div ul li {
  margin: 0 1rem;
}
footer div ul a {
  text-decoration: none;
  color: white;
}

#inicio {
  margin-bottom: auto;
}
#inicio h2 {
  font-size: 3rem;
  margin-left: 1rem;
}
#inicio h3 {
  font-size: 1.7rem;
  margin: 0.5rem 1rem 1rem 1rem;
}
#inicio img {
  width: 100%;
}

#catalogo div {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  margin-bottom: 4rem;
  align-items: center;
}
#catalogo div img {
  width: 100%;
}
#catalogo div p {
  font-size: 3rem;
  margin-top: 0.5rem;
}
#catalogo div a {
  font-size: 2rem;
  border: solid 0.2rem;
  border-radius: 0.5rem;
  color: white;
  background-color: blue;
  border-color: darkblue;
  text-decoration: none;
  margin-top: 0.5rem;
  width: 9rem;
  text-align: center;
}

#autos {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#autos .card {
  display: flex;
  width: 80%;
  height: 19rem;
  margin: 2rem auto;
}
#autos .card .columna-img {
  width: 70%;
  height: 100%;
}
#autos .card .columna-img img {
  width: 100%;
  height: 100%;
}
#autos .card .columna-info {
  width: 30%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#autos .card .columna-info p {
  width: 80%;
  margin: 1rem auto auto auto;
  font-size: 1.7rem;
}
#autos .card .columna-info a {
  margin-bottom: 10%;
  background-color: blue;
  color: white;
  text-decoration: none;
  width: 6rem;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
}

#nosotros {
  width: 80%;
  margin: 0 auto auto auto;
  display: flex;
  flex-direction: column;
}
#nosotros div {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#nosotros div img {
  width: 100%;
  border-radius: 1rem;
  margin: 1rem auto;
}
#nosotros div p {
  width: 100%;
  margin: 3rem 5%;
  font-size: 2rem;
}
#nosotros div a {
  margin-left: 5%;
  text-decoration: none;
  color: white;
  background-color: blue;
  width: 40%;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 3rem;
}

#contacto div {
  width: 80%;
  margin: auto;
}
#contacto div p {
  margin: 3rem 0;
  font-size: 2rem;
}
#contacto div iframe {
  border-radius: 1rem;
  width: 100%;
}
#contacto .formulario {
  background-color: aqua;
  border: solid 0.15rem;
  border-radius: 0.5rem;
  margin-bottom: 3rem;
}
#contacto .formulario form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#contacto .formulario form .etiquetas {
  font-size: 2rem;
  margin-top: 2%;
}
#contacto .formulario form .texto {
  width: 60%;
  margin-top: 2%;
}
#contacto .formulario form textarea {
  width: 60%;
  margin-top: 2%;
}
#contacto .formulario form .enviar {
  width: 15%;
  margin: 5% 0;
  color: white;
  background-color: blue;
  border-radius: 0.5rem;
  font-size: 1.5rem;
}

@media only screen and (min-width: 768px) {
  #inicio {
    margin-top: 7rem;
    display: flex;
  }
  #inicio div {
    max-width: 50%;
  }
  #inicio h2,
#inicio h3 {
    margin-left: 2rem;
  }
  #inicio h2 {
    font-size: 5rem;
  }
  #inicio h3 {
    font-size: 3rem;
    margin-top: 3rem;
  }
  #autos {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: auto;
    margin-top: 5rem;
  }
  #autos .card {
    max-width: 40%;
  }
  #nosotros .img-horizontal {
    display: flex;
    flex-direction: row;
  }
  #nosotros .img-horizontal img {
    max-width: 45%;
  }
  #nosotros a {
    margin-top: 3rem;
  }
}
@media only screen and (min-width: 1024px) {
  #catalogo {
    display: flex;
    margin-bottom: auto;
  }
  #catalogo div {
    width: 40%;
    margin-top: 10rem;
  }
  #catalogo div img {
    height: 30rem;
  }
  #autos {
    flex-wrap: nowrap;
  }
  #autos .card {
    max-width: 23%;
  }
}

/*# sourceMappingURL=estilos.css.map */
